body {
    background-color: black;
    margin: 0;
}
h1 {
    color: rgb(255, 230, 0);
    text-align: center;
    margin-bottom: 50px;
}
nav h2 {
    text-align: left;
    margin-top: 0%;
    color: rgb(255, 230, 0);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
}
.navbar li {
    display: inline;
    margin: 20px;
    margin-top: 0%;
}
.navbar a {
    text-decoration: none;
    color: rgb(255, 230, 0);
}
footer {
    background-color: rgb(255, 230, 0);
    color: black;
    margin-top: 350px;
    font-size: large;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    color: aliceblue;
    align-items: center;
    font-weight: bold;
    inline-size: 300px;
}
#cardContainer {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

@media (max-width: 768px) {
    body {
        background-color: black; 
}
#cardContainer{
    justify-content: center;
    display: grid;
}
    
}